#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12' style='height:23px'>
				</div>
			</div>
		</div>
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')

<script type='text/javascript'>


$(function(){


  var socket = new WebSocket('ws://localhost:9988');

  // 打开Socket
  socket.onopen = function(event){

    // 发送一个初始化消息
    socket.send('{}');

    // 监听消息
    socket.onmessage = function(event){
      console.log('client received a message.', event);
      socket.close();
    };

    // 监听Socket的关闭
    socket.onclose = function(event){
      console.log('client notified socket has closed.', event);
    };
  };
})

</script>

	</body>
</html>
