#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12' style='height:23px'>
				</div>
			</div>
		</div>
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')

<script type='text/javascript' src='public/assets/js/websocket.js'></script>

<script type='text/javascript'>
</script>

	</body>
</html>