#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>

    <input type='button' id='shot' value='shot'><p></p>
    <input type='button' id='logout' value='logout'><p></p>

		#parse('_pagelet/js.html')

<script type='text/javascript'>
var exports = {};
</script>

<script type='text/javascript' src='$!{conf.html.cdn}js/google-protobuf/3.3.0/google-protobuf.js'></script>
<script type='text/javascript' src='/assets/js/emag.js'></script>

<script type='text/javascript'>

</script>

<script type='text/javascript'>

$(function(){

  var gws = proto.gws;
  var method = gws.method;

  var socket = null;

  (function(){

    socket = new WebSocket('ws://'+ window.location.hostname +'/s/'+ (location.search.match(/s=([\w\-]+)/) ? RegExp.$1 : '') +'/');
    socket.binaryType = 'arraybuffer';

    socket.onopen = function(evt){

      socket.onmessage = function(evt){
        var data = evt.data;
        var type = typeof data;

        console.log(data)
        console.log('++++')

        var receiver = gws.ReceiverProtobuf.deserializeBinary(data);

        var result = gws.ResponseProtobuf.deserializeBinary(receiver.getData());

        console.log(result.getVersion());
        console.log(result.getMethod());
        console.log(result.getSeqid());
        console.log(result.getTimestamp());
        console.log('----');

        if(95 === result.getMethod()){
          (function(){
            var data = method.user.login.ResponseProtobuf.deserializeBinary(result.getData());
            console.log(data.getToken());
          })();

          return;
        }

        (function(){
          var data = gws.UserProtobuf.deserializeBinary(result.getData());
          console.log(data.getId());
          console.log(data.getUserName());
          console.log(data.getUserPass());
        })();
      };


      var req = new gws.RequestProtobuf();
      req.setVersion(101);
      req.setMethod(95);
      req.setSeqid(parseInt(Math.random() * 1000));
      req.setTimestamp(new Date().getTime());

      var login = new method.user.login.RequestProtobuf();
      login.setCode(location.search.match(/code=([\w\-]+)/) ? RegExp.$1 : '');
      req.setData(login.serializeBinary());

      var binary = req.serializeBinary();
      console.log(binary);
      socket.send(binary);
    };


    socket.onclose = function(evt){
      console.log(evt);

      setTimeout(function(){
        location.href = '/client/user/login?t='+ new Date().getTime();
      }, 1000);
    };

    socket.onerror = function(evt){
      console.error(evt);

      setTimeout(function(){
        location.href = '/client/user/login?t='+ new Date().getTime();
      }, 1000);
    };

  })();

  $('#logout').click(function(){
    socket.close();
  });

  $('#shot').click(function(){

    var req = new gws.RequestProtobuf();
    req.setVersion(102);
    req.setMethod(2);
    req.setSeqid(parseInt(Math.random() * 1000));
    req.setTimestamp(new Date().getTime());

    var user = new gws.UserProtobuf();
    user.setUserName('八一猫')
    user.setUserPass('123456');
    req.setData(user.serializeBinary());

    var binary = req.serializeBinary();
    console.log(binary);
    socket.send(binary);
  });

});

</script>

	</body>
</html>
