#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>

    <input type='button' id='login' value='login'><p></p>
    <input type='button' id='shot' value='shot'><p></p>
    <input type='button' id='logout' value='logout'><p></p>

		#parse('_pagelet/js.html')

<script type='text/javascript'>
var exports = {};
</script>

<script type='text/javascript' src='$!{conf.html.cdn}js/google-protobuf/3.3.0/google-protobuf.js'></script>
<script type='text/javascript' src='/assets/protobuf/emag.js'></script>

<script type='text/javascript'>

</script>

<script type='text/javascript'>

$(function(){

  var user = new proto.gws.model.UserProtobuf();
  user.setUserName('猫一八')
  user.setUserPass('123321');

  var req = new proto.gws.RequestProtobuf();
  req.setVersion(101);
  req.setMethod(1);
  req.setSeqid(parseInt(Math.random() * 1000));
  req.setTimestamp(new Date().getTime());
  req.setData(user.serializeBinary());

  console.log(req.serializeBinary());
  console.log('====')

  var resp = proto.gws.ResponseProtobuf;

  var socket = new WebSocket('ws://127.0.0.1/s/68/');
  socket.binaryType = 'arraybuffer';

  socket.onopen = function(evt){
    socket.send(req.serializeBinary());
  };

  socket.onmessage = function(evt){
    var data = evt.data;
    var type = typeof data;

    console.log(data)
    console.log('++++')

    var result = resp.deserializeBinary(data);

    console.log(result.getVersion())
    console.log(result.getMethod())
    console.log(result.getSeqid())
    console.log(result.getTimestamp())

    console.log('----')
    var _user = proto.gws.model.UserProtobuf;
    var _result = _user.deserializeBinary(result.getData());
    console.log(_result.getId())
    console.log(_result.getUserName())
    console.log(_result.getUserPass())

    // socket.close();
  };

  socket.onclose = function(evt){
    console.log('client notified socket has closed.', evt);
  };

  $('#logout').click(function(){
    socket.close();
  });

  $('#shot').click(function(){

    var user = new proto.gws.model.UserProtobuf();
    user.setUserName('八一猫')
    user.setUserPass('123456');

    var req = new proto.gws.RequestProtobuf();
    req.setVersion(102);
    req.setMethod(2);
    req.setSeqid(parseInt(Math.random() * 1000));
    req.setTimestamp(new Date().getTime());
    req.setData(user.serializeBinary());

    console.log(req.serializeBinary());
    console.log('====')
    socket.send(req.serializeBinary());
  });

});

</script>

	</body>
</html>
